
/**
 * Main site styles for Stello
 *
 * @copyright 2016 stellojs
 */

.jumbotron {
  background-image: url("./paisley.png");
}

.jumbotron, pre, h1, h2, h3, .navbar-default .navbar-brand {
  color: indianred;
}

pre {
  /* Match paisley */
  background-color: #f6f6f6;
}

a {
  font-weight: bold;
}
