{{!--
  Cheat Sheet
  ===========

  Variables:
    - allCards: Array of all the cards on the board
    - allists: Array of all lists on the board
    - list: This list instance
    - listCards: Array of cards in this list

  Helpers:
    - eachCard: Iterate through all cards on board, regardless of context
    - eachCardInList: Iterate the cards in a list by name or id
    - eachList: Iterate through all lists on board, regardless of context
    - markdown: Convert some markdown to html
--}}

<h1>{{list.name}}</h1>

<p>This list has {{listCards.length}} cards:</p>

<ul>
  {{#each listCards}}
    {{> fancyCard card=this}}
  {{/each}}
</ul>
